body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9fd;
}

.box {
  width: 100px;
  height: 200px;
  border-radius: 10px;
  background-color: tomato;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  /*  Set transition values  */
  transition-property: background-color, transform;
  transition-duration: 500ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

/* On hover, change the values of animated properties */
.box:hover {
  background-color: teal;
  transform: rotate(180deg);
}
.box2 {
  width: 100px;
  height: 200px;
  border-radius: 10px;
  background-color: rgb(255, 71, 83);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  /*  Set transition values  */
  transition-property: background-color, transform;
  transition-duration: 100ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

/* On hover, change the values of animated properties */
.box2:hover {
  background-color: rgb(119, 128, 0);
  transform: rotate(90deg);
}
.box3 {
  width: 100px;
  height: 200px;
  border-radius: 10px;
  background-color: rgb(71, 255, 108);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  /*  Set transition values  */
  transition-property: background-color, transform;
  transition-duration: 100ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

/* On hover, change the values of animated properties */
.box3:hover {
  background-color: rgb(28, 53, 57);
  transform: rotate(120deg);
}
.box4 {
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 2px 4px gray;
  width: 100px;
  height: 200px;
  border-radius: 10px;
  background-color: rgb(120, 71, 255);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  /*  Set transition values  */
  transition-property: color, background-color, transform, font-size;
  transition-duration: 800ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

/* On hover, change the values of animated properties */
.box4:hover {
  background-color: rgb(1, 7, 10);
  color: #f9f9fd;
  transform: rotate(360deg);

  font-size: 80px;
}
.box5 {
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 2px 4px gray;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-color: rgb(216, 212, 228);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  /*  Set transition values  */
  transition: transform 250ms ease-in-out;
}
.box5:hover {
  transform: scale(1.1);
}
.box6 {
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 2px 4px gray;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-color: rgb(163, 14, 118);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  /*  Set transition values  */

  transition: transform 150ms ease-in-out;
}
.box6:hover {
  transform: rotate(90deg);
}
.box7 {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-color: #bdbdbd;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3f51b5;

  transform: translatey(100%);
  transition: transform 250ms ease-in-out;
}

.box7:hover .overlay {
  transform: translatey(0);
}

.overlay p {
  color: #fff;
  padding: 10px;
  margin: 0;
  font-size: 18px;
}

.overlay code {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 2px;
  background-color: #fff;
  color: #2a2a2a;
}
.parent {
  position: relative;
  width: 300px;
  height: 300px;
  border: 10px solid #303f9f;
  border-radius: 10px;
  background-color: #3f51b5;
}

.box8 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100px;
  height: 100px;
  border: 10px solid #ffa000;
  border-radius: 10px;
  background-color: #ffc107;
}
