.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
.container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.footer {
  background-color: slategray;
  padding: 30px 0;
}
.social-list {
  display: flex;
  justify-content: center;
  column-gap: 16px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: chocolate;
}
.social-list-link:hover,
.social-list-link:focus {
  fill: rgb(142, 19, 85);
}
.social-list-icon {
  width: 32px;
  height: 32px;
}
